- @nav = sitemap.find_resource_by_path("getting-started/nav.yml") # even this isn't very good. I'd rather find this resource by a relative path -ch
- @nav_index = @nav.data.guide.index { |i| i.url == File.basename(current_page.url) } + 1.0 
- @progress = (@nav_index / @nav.data.guide.size) * 100

- wrap_layout :layout do

  .welcomewrap
    %h1= "Getting Started Guide"

  .progress
    .progress-bar{ "role" => "progressbar", "aria-valuenow" => "guide_progress", "aria-valuemin" => "0", "aria-valuemax" => "100", "style" => "width: #{@progress}%;" } 
      %span.sr-only{ id: "#{@progress}% Complete" }

  .container.guide
    .row
      .article.col-md-8
        %h2= current_page.data.title
        :preserve
          #{yield}

      .col-md-4
        %ul.sections
          / - guide_sections.each do |section|
          /   %li= guide_nav section.last, section.first
          - @nav.data.guide.each do |section|
            %li
              %a{ href: section.url }= section.name
