- @nav = sitemap.find_resource_by_path("docs/getting-started/nav.yml") # TODO: I'd rather find this resource by a relative path -ch
- @root_path = @nav.data.root_path
- @nav_index = @nav.data.guide.index { |i| File.expand_path(i.url, @root_path) == current_page.url.sub(%r{/$}, '') }
- @progress = ((@nav_index || 0).to_f / @nav.data.guide.size) * 100
- @filename = File.basename(current_page.source_file)
- @forkthedocs = "http://github.com/test-kitchen/kitchen-docs/edit/master/source/docs/getting-started/#{@filename}" # TODO: move getting-started content into /source/docs subdirectory and remove static reference to /source/getting-started/

- wrap_layout :layout do

  .welcomewrap
    %h1= "Getting Started Guide"

  .progress
    .progress-bar{ "role" => "progressbar", "aria-valuenow" => "guide_progress", "aria-valuemin" => "0", "aria-valuemax" => "100", "style" => "width: #{@progress}%;" } 
      %span.sr-only{ id: "#{@progress}% Complete" }

  .container.guide
    .row
      .article.col-sm-8.col-md-8
        - if current_resource.data.danger
          %div.alert.alert-danger= current_resource.data.danger

        - if current_resource.data.warning
          %div.alert.alert-warning= current_resource.data.warning

        - if current_resource.data.alert
          %div.alert.alert-info= current_resource.data.alert

        - if current_resource.data.prev
          %div.callout
            %p
              %strong= "Previously: "
              %a{ href: @root_path + current_page.data.prev.url }= current_page.data.prev.text 

        %span#githubs
          %h2= current_page.data.title
          %a{ href: @forkthedocs }
            .glyphicon.glyphicon-pencil

        :preserve
          #{yield}

        %hr

        %div#suggestions
          %div.row
            %div.col-sm-7.col-md-7.pull-left
              %p= data.docs.promotion.sponsorship 

            %div.col-sm-5.col-md-5.pull-right
              - if current_resource.data.next
                .maximum-button.red.red-border.full-width
                  %a{ href: @root_path + current_resource.data.next.url }
                    = current_resource.data.next.text
                    / %i.glyphicon.glyphicon-circle-arrow-right
                    %i.fa.fa-arrow-circle-right


      .col-sm-4.col-md-4
        %ul.sections
          / - guide_sections.each do |section|
          /   %li= guide_nav section.last, section.first
          - @nav.data.guide.each do |section|
            - unless section.hide?
              - if File.expand_path(section.url, @root_path) == current_page.url.sub(%r{/$}, '')
                %li.bookmark
                  %i.glyphicon.glyphicon-bookmark
                  %p= section.name
              - else
                %li
                  %a{ href: @root_path + section.url }= section.name
