---
title: Welcome to Test Kitchen
---

/ %img.img-responsive{ src: "img/kitchen.jpg" }
%div#landingwrap-01
  %div.container
    %div.row
      %div.col-md-2
      %div.col-md-4
        %h2= data.home.banner.title
        .maximum-button.green.green-border
          %a{ href: data.home.banner.button.url }= data.home.banner.button.text
      %div.col-md-4
        %img{ src: lorem.image('400x400', :background_color => '#000000', :color => '#ffffff') }
      %div.col-md-2

%div.container#logos
  %div.row
    %div.col-md-12
      %img.img-responsive{ src: "/img/tmp/client-logos.png", alt: "" }

%div#landingwrap-02
  %div.container
    %div.row
      %div.col-md-2
      %div.col-md-4
        %h2= data.home.overview[0].heading
        - data.home.overview[0].content.each do |p|
          %p= p
      %div.col-md-4
        %h2= data.home.overview[1].heading
        - data.home.overview[1].content.each do |p|
          %p= p
      %div.col-md-2

%div.container
  %div.row
    %div.col-md-2
    %div.col-md-8
      %h2= data.home.underview.heading
      - data.home.underview.content.each do |p|
        %p= p
    %div.col-md-2

%div#footerwrap
  %div.container
    %em= data.home.footer.heading
    %p= data.home.footer.copyright




