---
title: Welcome to Test Kitchen
---

-# = image_tag("kitchen.jpg", class: "img-responsive")
%div#landingwrap-01
  %div.container
    %div.row
      %div.col-md-2
      / %div.col-md-4
      %div.col-md-4#call-to-action
        %h2= data.home.banner.title
        .maximum-button.green.green-border
          %a{ href: data.home.banner.button.url }= data.home.banner.button.text
      %div.col-md-4.sample-code
        = preserve do
          - code("yaml") do
            :plain
              ---
              driver:
                name: vagrant

              provisioner:
                name: chef_zero

              platforms:
                - name: ubuntu-13.04
                - name: centos-6.5

              suites:
                - name: client
                  run_list:
                    - recipe[postgresql::client]
                - name: server
                  run_list:
                    - recipe[postgresql::server]
        / = image_tag('kitchenci-logo-800x800.png', width: '400')
      %div.col-md-2

%div.container
  %div.row
    %div.col-md-2
    %div.col-md-8
      %h2= data.home.highlight.heading
      - data.home.highlight.content.each do |p|
        = render_markdown(p)
    %div.col-md-2

%div#landingwrap-02
  %div.container
    %div.row
      %div.col-md-2
      %div.col-md-4
        %h2= data.home.overview[0].heading
        - data.home.overview[0].content.each do |p|
          = render_markdown(p)
      %div.col-md-4
        %h2= data.home.overview[1].heading
        - data.home.overview[1].content.each do |p|
          - if p == "{{code}}"
            = preserve do
              - code("sh") do
                :plain
                  $ gem install test-kitchen
                  $ kitchen init
                  $ kitchen test
          - else
            = render_markdown(p)

        .maximum-button.red.red-border.text-center.learn.pull-right
          %a{ href: data.home.learn.url }= data.home.learn.text
      %div.col-md-2

%div.container
  .partners
    - data.home.partners.each do |partner|
      .logo
        %a{ href: partner.url }
          %img{ src: partner.src }

%div#footerwrap
  %div.container
    %em= data.home.footer.heading
    %p= data.home.footer.copyright
